*{
    padding:0;
    margin:0;
}
.container{
    background-color: whitesmoke;
}
.navbar-brand{
    font-family:cursive;
}
.navbar-nav{
    font-family:cursive;
}
h2{
    color:purple;
}
.first{
    background-image: url("/Nitogens/images/onee.jpeg");
    background-size:cover;
    height:500px;
}
.good{
    margin-top:200px;
}
h4, b{
    color:rgb(8, 71, 122);
}
.dolls{
    color:rgb(255, 115, 0);
    margin-left: 55%;
}
.butt{
    background-color: rgb(255, 115, 0);
    box-shadow:blue;
    color:white;
    box-shadow:3px 3px 3px 3px rgb(255, 115, 0);
}
.video{
    height:100%;
    width:100%;
    margin-top: 100px;
}
.me, .now{
    text-align: center;
}
.imgg{
    position:relative;
}
.image__img{
    display:block;
    width:100%;
}
.img__overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: opacity 1s;
}
.img__overlay--blur{
    backdrop-filter:blur(5px);
}
.img__overlay:hover{
    opacity:1;
    width:100%;
}
.img__title{
    font-size:2em;
    font-weight:20px;
}
.img__desc{
    font-size:1.25em;
    margin-top:0.25em
}

